.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
  a {
    background: #fff3b0;
    color: black;
    display: block;
    padding: 1.2rem;
    text-decoration: none;
  }

  a:hover {
    background: #fff3b0;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #2a9d8f;
    font-size: 0.8rem;
    font-style: italic;
  }
}
