.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.react {
  background-color: #61dbfb;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 0.2rem solid #2e6473;
}

.react:hover {
  box-shadow: 0 8px 6px -6px black;
  transition: box-shadow 0.25s ease-in-out;
}

.node {
  background-color: #68a063;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 0.2rem solid #36543a;
}

.node:hover {
  box-shadow: 0 8px 6px -6px black;
  transition: box-shadow 0.25s ease-in-out;
}

.mongodb {
  background-color: #4db33d;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 0.2rem solid #317327;
}

.mongodb:hover {
  box-shadow: 0 8px 6px -6px black;
  transition: box-shadow 0.25s ease-in-out;
}

.javaScript {
  background-color: #f0db4f;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 0.2rem solid #b0a13f;
}

.javaScript:hover {
  box-shadow: 0 8px 6px -6px black;
  transition: box-shadow 0.25s ease-in-out;
}

// for flutter box
.flutter {
  background-color: #4515d4;
  color: white;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 0.2rem solid black;
}

.flutter:hover {
  box-shadow: 0 8px 6px -6px #130638;
  transition: box-shadow 0.25s ease-in-out;
}

.python {
  background-color: #306998;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 0.2rem solid #132a3d;
}

.python:hover {
  box-shadow: 0 8px 6px -6px black;
  transition: box-shadow 0.25s ease-in-out;
}

.java {
  background-color: #f89820;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 0.2rem solid #b37425;
}

.java:hover {
  box-shadow: 0 8px 6px -6px black;
  transition: box-shadow 0.25s ease-in-out;
}

// for postgres box
.postgres {
  background-color: #081c80;
  color: white;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 0.2rem solid black;
}

.postgres:hover {
  box-shadow: 0 8px 6px -6px black;
  transition: box-shadow 0.25s ease-in-out;
}
