.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #d90429;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #ef233c;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #d90429;
}

.active-nav-item {
  color: #2b2d42;
}
